<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>Main Page</h1>
    </div>
</body>
</html>